= simple_form_for quote  do |f|
	= f.error_notification
	
	= f.input :text, as: :text, id: 'quote', input_html: { class: 'span12', rows: 5 }
	= f.input :context, input_html: { class: 'span12' }
	= f.input :tag_tokens, id: 'quote_tags', input_html: {class: 'span12'}, "data-pre" => quote.tags.map(&:attributes).to_json, label: 'Tags'

	.form-actions
		= f.button :submit, action, class: 'btn-primary'