.page-header
	%h2 
		= link_to "Quote ##{quote.id}", quote
.row
	.score-container.span1
		.upvote
			= link_to image_tag("upvote-inactive.png", alt: 'upvote'), upvote_quote_path, method: 'POST'
		.score
			= quote.score
		.downvote
			= link_to image_tag("downvote-inactive.png", alt: 'downvote'), downvote_quote_path, method: 'POST'
	.quote-container.span11
		.quote-text
			- quote.text.each_line do |line|
				= line
				%br
		- if quote.context.length > 0
			.quote-context
				= quote.context
