!!! 5
%html
	%head
		%title Big Bad Quotes
		= stylesheet_link_tag "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.navbar
			.navbar-inner
				.container
					= link_to "Big Bad Quotes", '/', class: "brand"
					.nav-collapse
						%ul.nav
							%li
								= link_to "Recent", recent_quotes_path
							%li
								= link_to "Top", top_quotes_path
							%li
								= link_to "Bottom", bottom_quotes_path
							%li
								= link_to "Browse", quotes_path
							%li
								= link_to "Random", random_quotes_path
							%li
								= link_to "Submit Quote", new_quote_path
		.container
			- if flash[:error]
				.alert.alert-error
					= flash[:error]
			- if flash[:notice]
				.alert.alert-success
					= flash[:notice]
			= yield
